<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
?>
<?php /** @var \Amasty\Promo\Block\Add $block */ ?>
<div class="ampromo-items-add" <?= $block->hasItems() ? '' : 'style="display:none;"'?>><?= $block->getMessage()?></div>
<script>
    require([
        'jquery',
        'domReady!'
    ], function ($) {
        var applyPopup = function() {
            var autoOpen = <?= $block->isOpenAutomatically() ? "true" : "false" ?> || window.location.hash == "#choose-gift";
            var overlay = $('[data-role=ampromo-overlay]');

            overlay.ampromoPopup({
                sourceUrl: '<?= $block->getUrl('amasty_promo/popup/reload') ?>',
                uenc:   '<?= $block->getCurrentBase64Url() ?>',
                slickSettings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    dots: true,
                    infinite: false,
                    respondTo: 'slider',
                    responsive: [
                        {
                            breakpoint: 571,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 281,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                },
                commonQty: '<?= $block->getAvailableProductQty()['common_qty'] ?>',
                products: <?= \Zend_Json::encode($block->getAvailableProductQty()) ?>,
                formUrl: '<?= $block->getFormActionUrl() ?>',
                selectionMethod: '<?= $block->getSelectionMethod() ?>',
                giftsCounter: '<?= $block->getGiftsCounter() ?>',
                autoOpenPopup: autoOpen
            });

            overlay.on('reloaded', function (e, itemsCount) {
                $('.ampromo-items-add').toggle(itemsCount > 0)
            });

            $('[data-role=ampromo-popup-show]').click(function (){
                overlay.ampromoPopup('show');
                return false;
            });
        };

        require(['Swissclinic_ExtendAmasty/js/popup'],  applyPopup);
    });
</script>
