<?php
/**
 * @var \Swissclinic\ExtendAmasty\Block\Catalog\Product\Tab $block
 */
?>
<div class="extendamasty_blog_tab">
    <div class="block-content">
        <?php foreach ($block->getCollection() as $post): ?>
            <div class="mag-item">
                <div class="mag-img"><img src=""></div>
                <div class="mag-title"><strong><a href="<?= $block->getBlogUrl($post->getId()) ?>" target="_blank"><?= $post->getTitle() ?></a></strong></div>
                <div class="mag-content"><?= $post->getShortContent() ?></div>
                <div class="read-more">
                    <a class="button" href="<?php echo $block->getBlogUrl($post->getId()) ?>" title="<?php echo __("Read More"); ?>" target="_blank">
                        <?php echo __("Read More"); ?>
                    </a>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>